@font-face {
    font-family: "Dancing Script";
    src: url("./DancingScript.ttf");
  }
body {
    background-color: #F2CD5C;
}
input, h1, button, table .player-name {
    font-family: "Dancing Script";
}
h1 {
    margin: 0;
    text-align: center;
    font-size: 4em;
    position: fixed;
    width: 100%;
}
#app {
    font-family: monospace;
}
img.dice {
    height: 2em;
}
div.path {
    white-space: nowrap;
    font-size: 9px;
    text-align: center;
}
.pawns {
    position: relative;
    height: 18em;
    margin: 0 auto;
    width: 4em;
}
.pawns ol {
    position: absolute;
    bottom: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}
.pawns ol > li {
    text-align: center;
    width: 100%;
}
.pawns ol > li img {
    height: 2em;
}
.pawns.crowd ol > li {
    width: 20px;
    float: left;
}
img.card {
    height: 5em;
}
.value {
    margin-top: 5px;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.toxin .value {
    color: red;
}
.potion .value {
    color: green;
}
.anti-toxin .value {
  color: green;
}
.start .value,
.stop .value,
.cure .value {
  visibility: hidden;
}
div.space {
    display: inline-block;
    margin: 0;
    padding: .3em;
}
div.space:hover .pawns img.pawn {
    opacity: .2;
}
div.space:hover .pawns .mobile img.pawn {
    opacity: 1;
    cursor: pointer;
}
table.players {
    margin: 2em auto;
  }
  table.players td {
    padding: .5em 0;
  }
  table.players td.dice {
    width: 3em;
    text-align: center;
  }
  table.players td.scores {
    width: 1.5em;
    text-align: right;
    padding-right: 1em;
    font-size: 2em;
  }
  table.players td.pawn {
    width: 3em;
  }
  table.players td.player-name {
    width: 9em;
    text-align: right;
    font-size: 2em;
  }
  table.players td.collect {
    font-size: .5em;
  }
  table.players td.collect .card {
    float: left;
    margin: 0 1em -1em 0;
  }
  table.players td.collect .value {
    float: left;
    margin-right: -2em;
  }
  table.players td.pawn img.pawn {
    height: 3em;
  }
  div.entry {
    text-align: center;
    padding-top: 6em;
  }
  div.entry input,
  div.entry button {
    font-size: 2em;
    padding: .2em;
    margin: .2em;
  }
  div.entry div {
    display: inline-block;
  }
  div.winners {
    height: 40em;
    margin-bottom: -14em;
    padding-top: 10em;
    text-align: center;
  }
  div.winners h2 {
    font-family: "Dancing Script";
    font-size: 2em;
  }
  div.winners ul {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  div.winners ul li {
    float: left;
    margin-right: 1em;
    display: inline-block;
  }
  div.winners ul li img{
    margin-left: 5em;
    height: 20em;
  }
  div.winners ul li div {
    text-align: center;
    width: 100%;
    font-family: "Dancing Script";
    font-size: 2em;
  }
  div.summary {
    position: fixed;
    bottom: 2em;
    width: 100%;
  }
